.ac-upload-wrap {
    font-family: 'microsoft yahei';
}

.ac-upload-modal {
    font-family: 'microsoft yahei';
    .u-modal-body {
        .ac-upload-wrap {
            text-align: center;
            .opeat {
                padding-bottom: 16px;
                .icon-upload {
                    font-size: 60px;
                    color: #40a5ed;
                }
            }
            .file-list {
                text-align: left;
                .file-list-item {
                    font-size: 12px;
                    li {
                        border-bottom: 1px dashed #ececec;
                        line-height: 30px;
                        transition: all .5s;
                        padding: 0 4px;
                        &:hover {
                            background-color: #edf8fd;
                            transition: all .5s;
                        }
                    }
                    line-height: 2;
                    padding: 10px 0;
                    .file-close {
                        float: right;
                        cursor: pointer;
                        color: #a5a5a5;
                        transition: all .5s;
                        &:hover {
                            color: #5d5d5d;
                            transition: all .5s;
                        }
                    }
                }
            }
            .upload-tips {
                font-size: 14px;
                color: #7b7b7b;
            }
        }
    }
}